.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 50px;
}

.place-order-left{
    width: 50%;
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.place-order-left input{
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .multi-fields{
    display: flex;
    gap: 15px;
}

.place-order-right{
    width: 40%;
}

.place-order-right .cart-bottom{
    width: 100% !important;
}